<!DOCTYPE html>
<html lang="en">
  <%- include('../../includes/header.ejs', {title : title}) %>

  <body>
    <loading-progress-bar id="loadingProgressBar"></loading-progress-bar>
    <%- include('../../includes/navbar.ejs') %>
    <div class="container mt-3 mb-3">
      <form class="form--login" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="username" class="form-label">Email address</label>
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="Username"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
          />
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Default file input example</label
          >
          <input class="form-control" type="file" id="formFile" />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <%- include('../../includes/footer.ejs') %>
  </body>
</html>
